/* A Free Design by Bryant Smith (bryantsmith.com) */



body {
	margin: 0;
	padding: 0;
	text-align: left;
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #061C37;
	background: #EEEFE4;

	background-repeat:repeat-x;
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}

#container
{
  display: block; 
  height:auto;
  position: relative; 
  width: 960px;
}


#header
{
height:85px;
width:960px;	
}

#header h1
{
	position:absolute;
text-align:left;
color:black;
font-size:43px;	
left:0px;
top:10px;
}
.off
{
color:#67A0F5;
}


#menu
{
display:block;
float:left;
clear:both;
width:90%;
height:54px;
float:left;
clear:both;
position: absolute;
top:0;
}






#menu ul {
	list-style: none;
	padding: 0px;
	margin-left:auto;
	width:300px;
}

#menu li {
	list-style: none;
	padding: 0px;	
	display: inline; 
	
}

#menu a {
	float: left;
	height: 36px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
	font-weight: bold;
	padding-top: 18px;
	font-size: 15px;
	padding-left:13px;
	padding-right:13px;
	background-image:url(images/linkbackground.jpg);

	
}

#menu a:hover{
	color:#86AEF9;
	background-image:url(images/linkbackground.jpg);
	background-repeat:repeat-x;
	opacity: 0.5;
}

#content p
{
	
}


html, body {
text-align: center;
}
p {text-align: left;}

.line{
	width:100%;
	size: 25px;
	position:relative;
	top:50;
	color:#67A0F5;
}

#elements{
	position: relative;
	top:100;
}
.box{
  width:100px;
  height:50px;
  color:blue; 
  position:relative;
}